<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--- In order to connect laptop to dev have to inject dependency -->
       <bean id="dev" class="org.example.Dev">
          <!--- use constructor-arg   -->
        <constructor-arg ref="laptop"/>
    </bean>


    <bean id="laptop" class="org.example.Laptop">
    </bean>

</beans>